body {
    margin: 10px;
    background-color: rgb(102, 145, 130);
    font-family: "Courier New", Courier, monospace;
    color: rgb(44, 42, 42);
  }
  main {
    min-height: 100vh;
    padding: 50px 20px 50px;
  }
  
  .grid {
    display: grid;
    grid-gap: 5px;
    margin: 0 auto;
    grid-template-areas:
      "header header navigation"
      "text text navigation"
      "intro intro intro"
      "notes resume resume"
      "footer footer footer";
  }
  .header {
    grid-area: header;
    font-size: 40px;
    text-align: left;
    font-style: italic;
    text-transform: uppercase;
    border-top-left-radius: 180px;
    border-bottom-right-radius: 180px;
    border-bottom: solid;
  }
  h1 {
    text-transform: uppercase;
  }
  .navigation {
    grid-area: navigation;
    background-color: transparent;
    font-size: 18px;
    border-radius: 15px;
    text-transform: uppercase;
    text-align: right;
  }
  
  .intro {
    grid-area: intro;
    color: rgb(43, 4, 4);
    background: linear-gradient(rgb(5, 44, 31), white);
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-top-right-radius: 180px;
    border-bottom-left-radius: 180px;
    border-bottom: solid;
  }
  
  .text {
    grid-area: text;
    background-color: transparent;
    height: 100px;
    padding-right: 20px;
    font-size: 24px;
    font-style: italic;
    border-top-left-radius: 180px;
    border-bottom-right-radius: 180px;
    border-bottom: solid;
    text-align: left;
  }
  .footer {
    grid-area: footer;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom: solid;
    text-align: center;
    padding: 1rem;
  }
  
  .notes .resume {
    font-size: 18px;
  }
  .notes {
    grid-area: notes;
    background-color: aliceblue;
    border-bottom: solid;
    text-align: left;
    border-radius: 25px;
    background: linear-gradient(rgb(5, 44, 31), white);
  }
  .resume {
    grid-area: resume;
    background: linear-gradient(rgb(5, 44, 31), white);
    border-bottom: solid;
    text-align: left;
    border-radius: 25px;
  }
  
  .exp {
    font-style: oblique;
    background-color: bisque;
  }
  .tech {
    font-style: oblique;
    background-color: bisque;
  }
  .soft {
    font-style: oblique;
    background-color: lightsteelblue;
  }
  .edu {
    font-style: oblique;
    background-color: lightsteelblue;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .project {
    flex: 1;
  }
  .notes1 .notes2 .notes3 .notes4 {
    flex: 50%;
  }
  img {
    float: left;
    width: 200px;
    height: 150px;
  }
  .container > p {
    margin-top: 0;
    padding: 0;
  }